.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.add-button {
  display: block;
  margin: 0 auto 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: darkblue;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.add-button:hover {
  background-color: darkblue;
}

.action-button {
  margin-right: 10px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: darkblue;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.action-button:hover {
  background-color: darkblue;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table-head {
  background-color: #f2f2f2;
}

.table-row {
  border-bottom: 1px solid #ddd;
}

.table-header {
  padding: 10px;
  text-align: left;
}

.table-cell, .table-motto-cell, .table-img-cell {
  padding: 50px;
  text-align: left;
}

.table-img-cell img {
  max-width: 150px;
  cursor: pointer;
}

.delete {
  background-color: #f44336;
  color: white;
}

.delete:hover {
  background-color: #c62828;
}

.ReactModal__Overlay {
  z-index: 1000;
}